form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 100px auto;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .speed{
    margin: 10px 0px;
  }
  input[type="text"],
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  input[type="radio"] + label {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  .crew-info{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  